.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin: 120px 52px 120px 105px;
}

.cart-container {
  margin-top: 120px;
}
