.review-container {
  margin: 50px auto;
}

.checkout-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  background-color: #ff9900;
  color: white;
  margin-top: 20px;
}

.checkout-btn:hover {
  background-color: orangered;
  color: black;
}
