.cart {
  background-color: rgba(255, 153, 0, 0.3);
  padding: 20px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.btn-clear-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #ff3030;
  border-radius: 4px;
  color: white;
}

.btn-clear-cart:hover {
  background-color: orange;
  color: black;
}

.cart h4 {
  font-size: 21px;
}

.cart h6 {
  font-size: 18px;
}

/* .proceed-checkout {
  width: 100%;
  border-radius: 4px;
  background-color: #ff9900;
  color: white;
  margin-top: 20px;
}

.proceed-checkout:hover {
  background-color: orangered;
  color: black;
} */
