.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}

.product img {
  width: 286px;
  height: 286px;
  margin: 7px;
  border-radius: 8px;
}

.product-name {
  margin: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;

  color: #0e161a;
}

.product-price {
  margin: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;

  color: #0e161a;
}

.seller-name {
  margin: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;

  color: #2a414f;
}

.btn-cart {
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}

.btn-cart:hover {
  color: white;
  background-color: orange;
}
